@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

:root {
  --color-primary: #4caf50;
  --color-secondary: #38923e;
  --color-base-200: #f0f4f1;
  --color-base-300: #d9e4dd;
}

[data-theme="dark"] {
  --color-primary: #3e8840;
  --color-secondary: #185c1b;
  --color-base-100: #30303044;
  --color-base-200: #2b2b2b;
  --color-base-300: #505050;
}

.lora {
  font-family: "Lora", serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

* {
  font-family: "lora", serif;
}

.active {
  @apply bg-primary
  text-white;
}
