@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "myTheme";
  default: true;
  --color-primary: #4caf50;
  --color-secondary: #2e7d32;
  --color-earth-brown: #7b5e3c;
  --color-base-100: #3dac43a2;
  --color-base-200: #f0f4f1;
  --color-base-300: #d9e4dd;
  --color-accent: #f4d35e;

  name: "dark";
  --color-primary: #4caf50;
  --color-secondary: #81c784;
  --color-earth-brown: #7b5e3c;
  --color-base-100: #3dac43a2;
  --color-base-200: #2c2c2c;
  --color-base-300: #d9e4dd;
  --color-accent: #3a3a3a;
}

.lora {
  font-family: "Lora", serif;
  background: #3e7251;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

* {
  font-family: "lora", serif;
}

.active {
  @apply bg-[#4d9e5a]
  text-white;
}
