@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

:root:has(input.theme-controller[value="light"]:checked),
[data-theme="light"] {
  --color-primary: #4caf50;
  --color-secondary: #38923e;
  --color-base-100: #ffffff;
  --color-base-200: #f0f4f1;
  --color-base-300: #d9e4dd;
}

:where(:root),
:root:has(input.theme-controller[value="dark"]:checked),
[data-theme="dark"] {
  --color-primary: #3e8840;
  --color-secondary: #185c1b;
  --color-base-100: #2c2c2c54;
  --color-base-200: #2c2c2c54;
  --color-base-300: #505050;
}

.lora {
  font-family: "Lora", serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

* {
  font-family: "lora", serif;
}

.active {
  @apply bg-primary
  text-white;
}
